<ion-header>
  <ion-toolbar>
    <ion-title>
      <div style="text-align: center">
        <ion-label>{{aptName}}</ion-label>
        <br>
        <ion-label>{{pk1}}동 {{pk2}}호</ion-label>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <div>
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-label>하자부분</ion-label>
            <ion-input [(ngModel)]="titl_name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>하자내용</ion-label>
            <ion-textarea rows="6" [(ngModel)]="cont_ents"></ion-textarea>
          </ion-item>
          <ion-item>
            <img src="/assets/plus.png" (click)="selectImage()" style="width: 50px; padding: 10px">
            <img src="{{photos[0]}}" *ngIf="isValid" style="width: 300px; border-radius: 5px"/>
            <a (click)="btnDeletePicture()" *ngIf="isValid">사진삭제</a>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <div style="text-align: right; margin-right: 10px;">
        <ion-button (click)="btnSendBoard()">등록</ion-button>
      </div>
    </div>
  </div>
</ion-content>
