<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">



  <div class="login_div" style="text-align: center; margin-top: 50px;">
    <img src="/assets/home.png" height="100px" style="margin-top: 50px;">
    <h1 style="margin-bottom: 10px">아파트 하자 점검</h1>
    <h5 style="margin-bottom: 70px">신규분양아파트 전용부 및 공용부 모바일 하자 점검</h5>

    <ion-card class="login_box" style="margin-left: 50px; margin-right: 50px">
      <ion-card-content>
        <ion-item>
          <ion-label>아파트 선택</ion-label>
          <ion-select placeholder="아파트를 선택하세요" [(ngModel)] = "loginAptName" ngDefaultControl>
            <ion-select-option *ngFor="let apt of data" [value]="apt.aptt_name">{{ apt.aptt_name }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)] = "loginPk1" ngDefaultControl></ion-input>
          <ion-label style="color: #A9A9A9" >동</ion-label>
          <ion-input [(ngModel)] = "loginPk2" ngDefaultControl></ion-input>
          <ion-label style="color: #A9A9A9" >호</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button class="next_btn" expand="block" style="margin-top: 10px ; margin-left: 50px; margin-right: 50px" (click)="click_login_btn()">다 음</ion-button>
  </div>
  <div class="footer">
    <img src="/assets/logo.png" width="300px">

  </div>
</ion-content>
